@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SpaceGrotesk";
    src: url("../../public/SpaceGrotesk.ttf");
}

html,
body {
    font-family: "SpaceGrotesk", sans-serif;
}
